extends ./layout/index

block contenido
  main.container.mt-5
    .row
      .col-md-5
        img(src="img/nosotros.jpg", alt="nosotros image", class="img-fluid")
      .col-md-7
        h1= pagina
        blockquote Lorem ipsum dolor sit, amet consectetur adipisicing elit. Eaque magnam laboriosam ex iusto ducimus nihil necessitatibus, autem minus esse repellat maiores? Modi porro animi error, laboriosam vitae ipsum iure adipisci! Lorem ipsum dolor sit, amet consectetur adipisicing elit. Dolorum praesentium quo nam explicabo excepturi provident quibusdam magni pariatur? Saepe accusantium 
        p Lorem ipsum dolor sit, amet consectetur adipisicing elit. Sint magnam accusantium labore praesentium quis temporibus nostrum perspiciatis illo! Tempore facilis reiciendis debitis consequatur expedita illo pariatur corporis reprehenderit iste quisquam.
        p Lorem ipsum, dolor sit amet consectetur adipisicing elit. Dolorum eligendi soluta culpa corporis officia explicabo asperiores at. Repudiandae unde nihil tempore expedita qui rem temporibus. Eos quos quae sapiente exercitationem.

  .listado-iconos
    .container.mt-5.py-5.text-center
      .row
        .col-md-4
          img(src="img/icono_seguridad.svg", alt="seguridad" class="img-fluid mb-4")
          h2.mb-4 Seguridad
          p Lorem ipsum dolor sit amet consectetur adipisicing elit. Voluptas atque quisquam debitis ad unde molestiae esse dolore, perferendis accusamus
        .col-md-4
          img(src="img/icono_destinos.svg", alt="destinos" class="img-fluid mb-4")
          h2.mb-4 los mejores destinos
          p Lorem ipsum dolor sit amet consectetur adipisicing elit. Voluptas atque quisquam debitis ad unde molestiae esse dolore, perferendis accusamus
        .col-md-4
          img(src="img/icono_precio.svg", alt="seguridad" class="img-fluid mb-4")
          h2.mb-4 los mejores precio
          p Lorem ipsum dolor sit amet consectetur adipisicing elit. Voluptas atque quisquam debitis ad unde molestiae esse dolore, perferendis accusamus